body {
    margin: 0;
    color: #2f2f2f;
    font: 12px/15px Arial, Helvetica, sans-serif;
    min-width: 981px;
    height: 100%;
    position: relative;
}

body.home {
    background: #e7e7e7;
}

div.clear {
    clear: both;
}

a {
    color: #0F438D;
    text-decoration: underline;
    font-weight: bold;
}

a img {
    border: 0;
}

a: hover {
    text-decoration: none;
}

input,
textarea,
select {
    font: 100% arial, sans-serif;
    vertical-align: middle;
}

form,
fieldset {
    margin: 0;
    padding: 0;
    border-style: none;
}

em {
    font-weight: bold;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0px;
}

h1 {
    font-size: 200%;
}

h2 {
    font-size: 160%;
}

h3 {
    font-size: 130%;
}

hr {
    border-width: 0px;
    color: #C3D9FF;
    background-color: #C3D9FF;
    height: 1px;
}

ul.menuBlocks {
    list-style-type: none;
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

ul+ul,
ul+ul.menuBlocks,
ul+h1,
ul+h2,
ul+p {
    margin-top: 20px;
}

.fixed {
    font-family: Fixed, Courier, monospace;
    font-size: 13px;
}

div.warning {
    border: 2px solid #ff0000;
    padding: 10px 20px 10px 20px;
    color: #800000;
    margin-top: 15px;
    margin-bottom: 15px;
}

div.warning h1 {
    color: #ff0000;
}

div.message {
    border: 1px solid #C0C0C0;
    padding: 5px;
    margin: 10px 0px 10px 0px;
    background-color: #f8fafa;
    width: 45%;
}

div#container {
    width: 900px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background: #f4f4f4;
    font-size: 13px;
}

div#header {
    padding: 10px;
    overflow: hidden;
    background: #0F438D;
    border-bottom: 5px solid #FBC917;
    text-align: center;
}

div#system_info {
    padding: 10px;
    text-align: right;
}

div#main_body {
    float: right;
    width: 693px;
    background: #f4f4f4;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 13px;
}

div.body_padded {
    padding-left: 20px;
    padding-right: 20px;
}

div#main_menu {
    float: left;
    width: 200px;
    height: 100%;
    background-color: #f4f4f4;
    padding-top: 10px;
    padding-bottom: 10px;
}

div#main_menu li {
    border-width: 1px;
    border-style: solid;
    border-color: #D2D4D4 #6B778C #6B778C #D2D4D4;
    padding: 3px 5px 3px 5px;
    margin-bottom: 3px;
    background-color: #bebebe;
}

div#main_menu li a {
    color: #000000;
    text-decoration: none;
    text-decoration: none;
}

div#main_menu li.selected {
    border-color: #758DAE #758DAE #758DAE #758DAE;
    background-color: #0F438D;
}

div#main_menu li.selected a {
    color: #F9F7ED;
}

div#main_menu li: hover {
    border-color: #D2D4D4;
}

div#main_menu li: hover a {
    color: #F9F7ED;
}

div#main_menu_padded {
    padding: 15px;
}

div#footer {
    color: #999999;
    background: #0F438D;
    padding: 10px;
    text-align: center;
    border-top: 5px solid #FBC917;
}

input.popup_button {
    border-width: 1px;
    border-style: solid;
    border-color: #D2D4D4 #6B778C #6B778C #D2D4D4;
    padding: 3px 5px 3px 5px;
    margin-bottom: 3px;
    background-color: #C3C3C3;
    float: right;
}

div.vulnerable_code_area {
    background-color: #f8fafa;
    border-width: 1px;
    border-style: solid;
    border-color: #000000;
    padding: 10px 20px 10px 20px;
    margin-bottom: 20px;
}

div#guestbook_comments {
    width: 45%;
    background-color: #f8fafa;
    border-width: 1px;
    border-style: solid;
    border-color: #C0C0C0;
    padding: 5px 10px 5px 10px;
    margin-bottom: 5px;
}

div#idslog {
    border: 1px solid #C0C0C0;
    padding: 5px;
    margin: 10px 0px 10px 0px;
    background-color: #f8fafa;
}

pre {
    color: red;
}

div.submenu {
    border-bottom: 1px solid #000000;
    margin-bottom: 15px;
    padding: 4px 0px 10px 0px;
    font-size: 13px;
}

span.submenu_item {
    padding: 0px 10px 0px 10px;
}

span.submenu_item+span.submenu_item {
    border-left: 1px dashed #000000;
    font-size: 13px;
}

span.selected {
    font-weight: bold;
}

span.success {
    color: green;
}

span.failure {
    color: red;
    font-weight: bold;
}